footer{
  display: flex;
  background:linear-gradient(to top, #000 60%, #fff 40%);

  bottom: 0;
  left: 0;
  height: 20vh;
  position: fixed;
  width: 100%;
}
.footer{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.espaco{
  height: 40%;
  width: 100%;
  background-color: #fff;
}