.div_ultimo_torneio {
  display: flex;
  gap: 10%;
  flex-wrap: nowrap; /* padrão: não quebra linha em desktop */
  justify-content: center;
}

/* Mobile: telas até 768px */
@media (max-width: 768px) {
  .div_ultimo_torneio {
    flex-wrap: wrap; /* permite quebrar linha apenas em mobile */
  }
}



@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 20vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.colocao{
  display: flex;
  flex-direction: column;
  font-size: larger;
  color: #212c81;
  gap: 4%;
}

.colocao h1{
  margin: 10% 0;
}

.card_top {
  background-image: url(https://cdn.ygorganization.com/2024/05/razen.jpg);
  background-size: cover;         /* mantém a imagem cobrindo todo o card */
  background-position: center;    /* centraliza a imagem */
  background-repeat: no-repeat;   /* evita repetição da imagem */
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(255 255 255 / 100%);
  cursor: pointer;
  font-family: cursive;
   text-shadow: 
     2px 2px 0 #000,  /* sombra direita/baixo */
    -2px 2px 0 #000,  /* sombra esquerda/baixo */
     2px -2px 0 #000, /* sombra direita/cima */
    -2px -2px 0 #000; /* sombra esquerda/cima */
  ;
}


/* .card_top:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card_top:hover:before, .card_top:hover:after {
  animation: none;
  opacity: 0;
}


.card_top::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card_top::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
} */

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
} */

.card_top p {
  position: absolute; /* permite usar bottom */
  bottom: 10px;       /* distancia da base do card */
  left: 50%;          /* opcional: centraliza horizontalmente */
  transform: translateX(-50%); /* centraliza de fato */
  margin: 0;
  font-size: large;
}


#top_1{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmijUFFTMR1mutCj2E9crirV8FflUhulq2Hw&s)
}
#top_3{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAmdBBuiqQaHBzW_qUYTYnpnO9OQFU7F9ygg&s)
}
#top_4{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQftLqxQKmwiBuYA9vEoiqoTmq9QSwmUGhmzg&s)
}

.alo{
  margin-bottom: 10px;
  font-weight: 900;
}